body {
  background-image: linear-gradient(rgb(105,201,253), rgb(149,223,148));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-family: 'Poppins';
}

img {
  border: 10px solid;
  border-radius: 10%;
  box-shadow: 0px 0px 20px #FFFFFF;
  border-color: rgba(218, 218, 218, 0.5);
}

img.home {
  height: 250px;
}

img.personal {
  width: 250px; 
}

#koala {
  width: 200px; 
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 0px solid;
}

#arrow {
  position: absolute;
  left: 60px;
  top: 0px;
  font-size: 50px;
  color: #FFFFFF;
  text-decoration: none;
}

ul {
  display: inline-block;
  text-align: left;
  padding: 0;
}


h1 {
  display: inline-block;

  left: 543px;
  top: 171px;

  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 75px;
  
  color: #FFFFFF;
}

.person-container {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding: 0%;
}

.person-description {
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  
}

.text-box {
  width: 50%;
  text-align: center;
  background: rgba(218, 218, 218, 0.5);
  box-shadow: 0px 0px 20px #FFFFFF;
  border-radius: 30px;
  padding: 3%;
  margin: 3%;
  
}

.website-button {
  display: inline-block;
  text-align: center;
  padding: 0;
  width: 25%;
  background: #B2CBEF;
  box-shadow: 0px 5px 20px rgba(226, 226, 226, 0.8);
  border-radius: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

iframe {
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-color: white;
  border-style:double;
}


img.movies {
  width: 70%;
}


.column {
  float: left;
  width: 24%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.text_row {
  display: flex;
  justify-content: space-between;
}

.text_column {
  float: left;
  width: 31%;
  padding: 5px;
}

.icons {
  width: 200px;
  height: 200px;
  left: 337px;
  top: 3849px;

  background: #D9D9D9;
  border-radius: 30px;
}
