body {
  background-image: linear-gradient(rgb(105,201,253), rgb(149,223,148));
  background-repeat: no-repeat;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-family: 'Poppins';
  color: #FFFFFF;
}

img {
  border: 10px solid;
  border-radius: 10%;
  box-shadow: 0px 0px 20px #FFFFFF;
  border-color: rgba(218, 218, 218, 0.5);
}

img.home {
  height: 250px;
}

img.personal {
  width: 250px; 
  margin-bottom: 3%;
}

img.plain {
  width: 200px; 
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 0px solid;
  margin-top: 0;
}

.arrow {
  position: absolute;
  left: 60px;
  top: 40px;
  font-size: 50px;
  color: #FFFFFF;
  text-decoration: none;
}

.arrow:hover {
  transform: scale(1.4);
  color: #FFFFFF;
}

ul {
  display: inline-block;
  text-align: left;
  padding: 0;
}


h1 {
  display: inline-block;
  
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 75px;
  
  color: #FFFFFF;
}

.person-container {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding: 0%;
}

.person-description {
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  
}

.text-box {
  width: 50%;
  text-align: center;
  background: rgba(218, 218, 218, 0.5);
  box-shadow: 0px 0px 20px #FFFFFF;
  border-radius: 30px;
  padding: 3%;
  margin-bottom: 3%;
}

.text-box-personal {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

.website-button {
  display: inline-block;
  text-align: center;
  padding: 0; 
  width: 25%;
  background: #B2CBEF;
  box-shadow: 0px 5px 20px rgba(226, 226, 226, 0.8);
  border-radius: 30px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.5s;
}

.website-button:hover {
  transform: scale(1.2);
  background-color: #6b7a90;
}

iframe {
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-color: white;
  border-style:double;
}


img.movies {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.movies_container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 5vw);
  grid-gap: 15px;
}

.movie1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.movie2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.movie3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 10;
}

.movie4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 10;
}

.text_row {
  display: flex;
  justify-content: space-between;
}

.text_column {
  float: left;
  width: 31%;
  padding: 5px;
}

img.icons {
  width: 5%;
  margin: 10px;
  border-radius: 20px;
}

.vid {
  border-radius: 20px;
}